
<h1>Contacts#index</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Admin</th>
      
  
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |ticket| %>
      <tr>
        <td><%= ticket.name %></td>
        <td><%= ticket.email %></td>
        <td><%= ticket.admin %></td>
       <td><%= link_to 'Edit', edit_user_path(ticket.id)%> <td><%= link_to 'show', ticket %> <td><%= button_to 'destroy', ticket, :method => :delete, data: {confirm: "Sure?"} %></td></td> 
 
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New user', new_user_path %>
