<%= form_for(@contact) do |f| %>
  
  <div class="field">
    <%= f.label :city_id %><br>
    <%= f.text_field :city_id %>
  </div>
  <div class="field">
    <%= f.label :number %><br>
    <%= f.text_field :number %>
  </div>
  <div class="field">
    <%= f.label :objects %><br>
    <%= f.text_field :objects %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
    <% end %>
  </div>