 <%= form_tag do %>

  <div class="field">
    <%= label :city, :name %><br>
    <%= text_field :city, :name %>
  </div>

  <div class="field">
    <%= label :contact, :objects %><br>
    <%= text_field :contact, :objects %>
  </div>
  
  <div class="actions">
    <%= submit_tag "stwórz" %>
   
  
  </div>
  
  <% end %>